<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Jean-Luc DOH - CV Resume</title>
	<meta charset="UTF-8">
	<meta name="description" content="Jean-Luc DOH - CV Resume">
	<meta name="keywords" content="resume, jean-luc doh, doh, frederic">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="/static/img/hero-3.jpg" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/static/css/flaticon.css"/>
	<link rel="stylesheet" href="/static/css/owl.carousel.css"/>
	<link rel="stylesheet" href="/static/css/magnific-popup.css"/>
	<link rel="stylesheet" href="/static/css/style.css"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<div class="home-four-style">
		<!-- Header section start -->
		<header class="header-section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<div class="site-logo">
							<h2><a href="/">MON CV</a></h2>
							<p>Développeur Web/Backend</p>
						</div>
					</div>
					<div class="col-md-8 text-md-right header-buttons">
						<a href="/static/CV de Jean-Luc DOH - Developpeur Web Backend-1.pdf" target="_blank" class="site-btn">Télécharger mon CV</a>
						<a href="https://www.linkedin.com/in/jeanlucdoh/" target="_blank" class="site-btn">Me découvrir</a>
					</div>
				</div>
			</div>
		</header>
		<!-- Header section end -->

		<div class="container-fluid p-0">
			<div class="row m-0">
				<div class="col-xl-5 col-lg-5 p-0">
					<div class="main-left-area h-100">
						<!-- hero section -->
						<section class="intro-section">
							<figure class="hero-image">
								<img src="/static/img/hero-3.png" alt="">
							</figure>
							<div class="hero-text">
								<h2>Jean-Luc <b>DOH</b></h2>
								<p>
									Je suis informaticien développeur d’application web (avec les langages
									PHP et Golang). Et j'utilise aussi WordPress comme outil de création de 
									site internet rapide à déployer pour certains projets web.
								</p>
							</div>
							<p class="mb-5">

							</p>
							<div class="hero-info pt-5">
								<h2>Information générale</h2>
								<ul>
									<li><span>Date de naissance</span><br />18 Juillet 1992</li>
									<li><span>Adresse</span><br />Cité du port-Treichville, Abidjan-Côte d'Ivoire.</li>
									<li><span>E-mail</span><br />jeanluc@freehzaix.com</li>
									<li><span>Téléphone</span><br />+225 07.47.93.84.82</li>
								</ul>
							</div>
						</section>
						<!-- extra section -->
						<section class="extra-section spad">
							<div class="section-title">
								<h2>Compétences</h2>
							</div>
							<div class="row">
								<div class="col-md-6 text-center">
									<div class="fact-box trans">
										<div class="fact-content">
											<div class="circle-progress">
												<div id="progress3" class="prog-circle"></div>
												<div class="progress-info">
													<h2></h2>
												</div>
												<div class="prog-title">
													<h3>Golang</h3>
													<p>Je suis à l'aise avec le langage Go pour le développement de quelques projets web.</p>
												</div>			
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 text-center">
									<div class="fact-box trans">
										<div class="fact-content">
											<div class="circle-progress">
												<div id="progress4" class="prog-circle"></div>
												<div class="progress-info">
													<h2></h2>
												</div>
												<div class="prog-title">
													<h3>PHP</h3>
													<p>J'ai complété mes connaissances avec le framework Laravel et le CMS WordPress.</p>
												</div>			
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="fact-box">
										<div class="fact-content">
											<img src="/static/img/icon/1-w.png" alt="">
											<h2>5</h2>
											<p>ans d'expériences</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<!--<div class="fact-box">
										 <div class="fact-content">
											<img src="/static/img/icon/2-w.png" alt="">
											<h2></h2>
											<p></p>
										</div> 
									</div>-->
								</div>
							</div>
						</section>
						<!-- language skill section -->
						<section class="language-section spad">
							<div class="section-title">
								<h2>Langues</h2>
							</div>
							<ul class="language-progress">
								<li>Français <div class="lan-prog" data-lanprogesss="5"></div></li>
							</ul>
						</section>
						<div class="social-links">
							<a href="https://www.linkedin.com/in/jeanlucdoh/" target="_blank"><i class="fa fa-linkedin"></i></a>
							<a href="https://www.instagram.com/jeanlucdoh/" target="_blank"><i class="fa fa-instagram"></i></a>
							<a href="https://www.facebook.com/jeanlucdohDevLaravel/" target="_blank"><i class="fa fa-facebook"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-7">
					<div class="main-right-area">
						<!-- Resume section start -->
						<section class="resume-section spad pt-0">
							<div class="section-title">
								<h2>Expériences</h2>
							</div>
							<ul class="resume-list">
								<li>
									<h2>Novembre 2021 - Juillet 2023</h2>
									<h3>APS2 TECHNOLOGIES</h3>
									<h4>Développeur WordPress</h4>
									<p>
										C'est dans cette entreprise que j'ai apprise à utiliser des logiciels de Web design afin d'avoir un esprit esthétique.
									</p>
								</li>
								<li>
									<h2>Juillet 2018 - Septembre 2021</h2>
									<h3>ONG NOUV'DE VIE </h3>
									<h4>OPERATEUR DE SAISIE</h4>
									<p>
										Ce poste m'a permis d'avoir des compétences au niveau de la rigueur pendant la saisie de données et aussi à l'utilisateur de logiciel de type tableur.
									</p>
								</li>
								<li>
									<h2>Mars 2018 - Juin 2018</h2>
									<h3>Port Autonome d'Abidjan</h3>
									<h4>DEVELOPPEUR D'APPLICATION</h4>
									<p>
										Dans le cadre de la soutenance du rapport de stage BTS, je devrais passer par un stage-école pour acquérir de bonne base en informatique, et ensuite valider mon diplôme de technicien supérieur dans ma filière.
									</p>
								</li>
							</ul>
						</section>
						<!-- Resume section end -->

						<!-- Resume section start -->
						<section class="resume-section">
							<div class="section-title">
								<h2>Formations</h2>
							</div>
							<ul class="resume-list">
								<li>
									<h2>2015-2017</h2>
									<h3>BREVET DE TECHNICIEN SUPERRIEUR - IDA</h3>
									<h4>EST LOKO</h4>
									<p>Après le BTS dans cette filière informatique, j'ai dû commencer ma carrière par un stage-école.</p>
								</li>
								<li>
									<h2>2013-2014</h2>
									<h3>BACCALAUREAT SERIE A1</h3>
									<h4>Collège Jules Ronsard 2</h4>
									<p>J'ai été passionné par l'informatique depuis la classe de Terminal A1.</p>
								</li>
							</ul>
						</section>
						<!-- Resume section end -->

						
						<!-- Review section start -->
						<section class="review-section spad">
							<div class="section-title">
								
							</div>
							<div class="review-slider owl-carousel">
								
								
							</div>
						</section>
						<!-- skill section start -->
						<div class="skill-section">
							<div class="section-title">
								<h2>Autres compétences</h2>
							</div>
							<!-- progress bars -->
							<div class="skills">
								
								<div class="single-progress-item">
									<div class="progress-bar-style" data-progress="100"></div>
									<p>HTML5</p>
								</div>

								<div class="single-progress-item">
									<div class="progress-bar-style" data-progress="100"></div>
									<p>CSS3</p>
								</div>

								<div class="single-progress-item">
									<div class="progress-bar-style" data-progress="100"></div>
									<p>GOLANG</p>
								</div>

								<div class="single-progress-item">
									<div class="progress-bar-style" data-progress="100"></div>
									<p>PHP</p>
								</div>

								<div class="single-progress-item">
									<div class="progress-bar-style" data-progress="100"></div>
									<p>LARAVEL</p>
								</div>

								<div class="single-progress-item">
									<div class="progress-bar-style" data-progress="100"></div>
									<p>WORDPRESS</p>
								</div>

							</div>
							
						</div>
						<!-- skill section end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer section start -->
	<footer class="footer-section">
		<div class="container text-center">
			<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Designed <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Jean-Luc DOH</a> 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
		</div>
	</footer>
	<!-- Footer section end -->
		

	<!--====== Javascripts & Jquery ======-->
	<script src="/static/js/jquery-2.1.4.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/magnific-popup.min.js"></script>
	<script src="/static/js/circle-progress.min.js"></script>
	<script src="/static/js/main.js"></script>
</body>
</html>